  <div class="jumbotron">   
    <!--- #1 --->
    <div class="row">
      <div class="col">
        1. {{hea}}
        <code>
        <p>{{{qs}}}</p>
        <p>{{prt}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns}}' :You Answerd</p>
          <p>'{{javAns}}' :Correct Answer</p>
        </div>
        {{chk}}
      </div>
    </div>

    <!--- #2 --->
    <div class="row">
      <div class="col">
        2. {{hea1}}
        <code>
        <p>{{{qs1}}}</p>
        <p>{{prt1}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns1}}' :You Answerd</p>
          <p>'{{javAns1}}' :Correct Answer</p>
        </div>
        {{chk1}}
      </div>
    </div>
    
    <!--- #3 --->
    <div class="row">
      <div class="col">
        3. {{hea2}}
        <code>
        <p>{{{qs2}}}</p>
        <p>{{prt2}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns2}}' :You Answerd</p>
          <p>'{{javAns2}}' :Correct Answer</p>
        </div>
        {{chk2}}
      </div>
    </div>    
    
    <!--- #4 --->
    <div class="row">
      <div class="col">
        4. {{hea3}}
        <code>
        <p>{{{qs3}}}</p>
        <p>{{prt3}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns3}}' :You Answerd</p>
          <p>'{{javAns3}}' :Correct Answer</p>
        </div>
        {{chk3}}
      </div>
    </div>    
    
    <!--- #5 --->
    <div class="row">
      <div class="col">
        5. {{hea1}}
        <code>
        <p>{{{qs4}}}</p>
        <p>{{prt4}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns4}}' :You Answerd</p>
          <p>'{{javAns4}}' :Correct Answer</p>
        </div>
        {{chk4}}
      </div>
    </div>    
    
    <!--- #6 --->
    <div class="row">
      <div class="col">
        6. {{hea5}}
        <code>
        <p>{{{qs5}}}</p>
        <p>{{prt5}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns5}}' :You Answerd</p>
          <p>'{{javAns5}}' :Correct Answer</p>
        </div>
        {{chk5}}
      </div>
    </div>        

    <!--- #7 --->
    <div class="row">
      <div class="col">
        7. {{hea6}}
        <code>
        <p>{{{qs6}}}</p>
        <p>{{prt6}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns6}}' :You Answerd</p>
          <p>'{{javAns6}}' :Correct Answer</p>
        </div>
        {{chk6}}
      </div>
    </div>        

    <!--- #8 --->
    <div class="row">
      <div class="col">
        8. {{hea7}}
        <code>
        <p>{{{qs7}}}</p>
        <p>{{prt7}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns7}}' :You Answerd</p>
          <p>'{{javAns7}}' :Correct Answer</p>
        </div>
        {{chk7}}
      </div>
    </div>        
    
    <!--- #9 --->
    <div class="row">
      <div class="col">
        9. {{hea8}}
        <code>
        <p>{{{qs8}}}</p>
        <p>{{prt8}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns8}}' :You Answerd</p>
          <p>'{{javAns8}}' :Correct Answer</p>
        </div>
        {{chk8}}
      </div>
    </div>        

    <!--- #10 --->
    <div class="row">
      <div class="col">
        10. {{hea9}}
        <code>
        <p>{{{qs9}}}</p>
        <p>{{prt9}}</p></code>  
      </div>
      <div class="col">
        <div style="font-family:courier;">
          <p>'{{usrAns9}}' :You Answerd</p>
          <p>'{{javAns9}}' :Correct Answer</p>
        </div>
        {{chk9}}
      </div>
    </div>        
    
    Score: {{score}}/{{cnt}}
    <form action="/save" method="POST"> 
      <input type="submit" class="btn btn-primary" name="submit" value="Next">
    </form>
    
  </div>
    